* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
}

.coordinate {
    float: right;
    position: fixed;
    width: 110px;
    height: 20px;
    background: #eee;
    bottom: 40px;
    right: 20px;
    background-color: #DCFCE9;
    border: 8px double #06F867;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.menu {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    letter-spacing: 20px;
    border: 1px red solid;
    width: 120px;
    height: 240px;
}

ul li {

}